body, html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.ar-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a-scene {
  width: 100%;
  height: 100%;
}
